* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 150px;
}

.content {
    width: calc(100% - 150px);
    border-left: 1px solid #ababab;
}
